/* title */
.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em !important;
}

/* subtitle + Learn More About Me */
.subtitle {
  font-family: "Petrona";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* heading, subtitle, and blurb */
.entity-contents {
  text-align: right !important;
  padding: 0 2em 0 2em;
}

/* blurb */
.about-contents {
  padding: 0 0 0 2em !important;
}

/* social links: block of links */
.about-entity .about-links {
  justify-content: flex-end !important;
  column-gap: 0em !important;
  font-size: 1.2em !important;
}

/* social links: individual links */
.about-entity .about-link {
  padding: 0.25em 0.25em !important;
  border: none !important;  
}

/* Learn More About Me */
.about-links.subtitle {
  font-size: 1em !important;
  font-family: "Red Hat Text";
  justify-content: flex-end !important;
}

/* image */
.about-image {
  display: flex;
  justify-content: center;   /* căn giữa ngang */
  align-items: center;       /* căn giữa dọc nếu có chiều cao */
  padding: 1em 0 1.5em 0 !important; /* tăng khoảng cách xung quanh nếu cần */
}

.about-image img {
  max-width: 350px;    /* logo to hơn, có thể điều chỉnh tùy ý: 300px, 350px... */
  height: auto;
}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
    /* move text up & center */
    .entity-contents {
      order: 2 !important;
      margin: -4em 0 0 0 !important;
      padding: 0 0 0 0em !important;
      text-align: center !important;
    }

    /* center subtitle */
    .subtitle {
      text-align: center !important;
    }

    /* social links: block of links */
    .about-entity .about-links {
      justify-content: center !important;
      font-size: 1em !important;
    }

    /* blurb */
    .about-contents {
      padding: 0 0 0 0em !important;
    }

    /* center Learn More About Me */
    .about-links.subtitle {
      justify-content: center !important;
    }

    /* move image up, adjust padding */
    .about-image {
      order: 1 !important;
      padding: 0 2em 0 2em !important;
    }
}
